body {
  font-family: "Roboto", sans-serif;
  color: var(--gray);
  margin-left: -15px;
  margin-right: -15px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
}
:root {
  --white: #fff;
  --blue: #2196f3;
  --black: #000000;
  --gray: #212121;
  --lightgray: #757575;
  --bgcolor: #2f303a;
  --footeradress: #ffffff99;
  --btnbg: #f5f4fa;
}
figure {
  margin: 0;
}
.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: var(--black);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  margin-right: 47px;
}
.logo-web {
  color: var(--blue);
}
.navi {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.17;
  font-size: 14px;
  color: var(--gray);
  margin-left: 46px;
}
.navi:hover,
.navi:focus {
  color: var(--blue);
}
.menu-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  background-color: var(--btnbg);
  border-radius: 4px;
  cursor: pointer;
}
.menu-btn:hover,
.menu-btn:focus {
  background-color: var(--blue);
  color: var(--white);
}
.contact {
  color: var(--lightgray);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
  margin-left: 371px;
}
.contact:hover,
.contact:focus {
  color: var(--blue);
}
.contact-second-item {
  margin-left: 50px;
}
.projects {
  color: var(--lightgray);
  size: 16px;
  line-height: 1.88;
}
.projects-description {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.footer-adres {
  color: var(--white);
  font-size: 14px;
  line-height: 1.71;
}
.footer-adres {
  color: var(--footeradress);
  text-decoration: none;
}
.footer-adres:hover,
.footer-adres:focus {
  color: var(--blue);
}
.adress-footer {
  color: var(--white);
}
.order-btn {
  font-weight: 700;
  font-size: 16px;
  font-weight: 1.88;
  text-align: center;
  color: var(--white);
  background-color: var(--blue);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: flex;
  padding-left: 45px;
  padding-top: 15px;
  width: 200px;
  height: 50px;
  border: none;
  text-align: center;
}
.main-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  color: var(--white);
  margin-bottom: 30px;
}
.header-section {
  background-color: var(--bgcolor);

  display: flex;
}
.description-head {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
}
.description {
  color: var(--lightgray);
  font-size: 14px;
  line-height: 1.71;
}
.our-team {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
  display: block;
  padding-top: 94px;
  margin-top: 0px;
}

.work-as {
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  color: var(--lightgray);
  margin-top: 10px;
  margin-bottom: 30px;
}
.worker-name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.17;
  margin-bottom: 0px;
  margin-top: 30px;
}
.our-job {
  text-align: center;
  line-height: 1.17;
  font-size: 36px;
  font-weight: 700;
  margin-top: 0px;
}
.footer-bg {
  background-color: var(--bgcolor);
  padding-top: 60px;
  padding-bottom: 60px;
  height: 252px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: var(--white);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}
.logo-footer-web {
  color: var(--blue);
}
.footer-adres:hover,
.footer-adres:focus {
  color: var(--blue);
}

.head {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
}
.head .container {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  align-content: center;
  align-items: center;
}
.navigation {
  display: flex;
}
.contact-head {
  display: flex;
}
.header-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0px 200px 0px;
}
.main-header-text {
  display: flex;
  padding-left: 40px;
}
.container {
  margin: 0 auto;
  width: 1200px;
}
.section-description {
  background-color: #e5e5e5;
}
.description-container {
  display: flex;
  padding-top: 120px;
  padding-bottom: 94px;
}
.section-job {
  background-color: #e5e5e5;
}
.our-job-photos {
  display: flex;
  margin-top: 50px;
  padding-bottom: 94px;
  justify-content: space-between;
}
.team {
  background-color: #f5f4fa;
}

.member-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.member-personal {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 94px;
}

.member-personal-last {
  margin-right: 0;
}
.adress-footer {
  margin-top: 20px;
  margin-bottom: 9px;
}
