:root {
  --white: #fff;
  --blue: #2196f3;
  --black: #000000;
  --gray: #212121;
  --lightgray: #757575;
  --bgcolor: #2f303a;
  --footeradress: #ffffff99;
  --btnbg: #f5f4fa;
}
* {
  margin: 0;
  padding: 0;
}
p {
  margin: 0px;
  padding: 0px;
}
.page {
  font-family: "Roboto", sans-serif;
  color: var(--gray);
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* header */
.page-header {
  border-bottom: 1px solid #ececec;
  text-align: center;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.header-logo__link {
  text-decoration: none;
  color: var(--black);
}
.header-logo__link--blue {
  color: var(--blue);
}
.header-nav__list {
  list-style: none;
  display: flex;
}
.header-nav__link {
  text-decoration: none;
  color: var(--gray);
}
.header-nav__link:hover,
.header-nav__link:focus {
  color: var(--blue);
}
.header-nav__item {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
  margin-right: 46px;
}
.header-nav__item:last-child {
  margin-right: 0px;
}
.header-contact__list {
  list-style: none;
  display: flex;
  margin-left: 371px;
  padding-left: 0px;
}
.header-contact__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.header-contact__item:last-child {
  margin-left: 50px;
}
.header-contact__link {
  text-decoration: none;
  color: var(--lightgray);
}
.header-contact__link:hover,
.header-contact__link:focus {
  color: var(--blue);
}
/* footer */
.page-footer {
  background-color: var(--bgcolor);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.19;
  padding-top: 60px;
  margin-bottom: 20px;
}
.footer-logo__link {
  color: var(--white);
  text-decoration: none;
}
.footer-logo__link--blue {
  color: var(--blue);
}
.footer-adress {
  line-height: 1.5;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--white);
  margin-top: 0px;
  margin-bottom: 9px;
}
.footer-contact-list {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}
.footer-contact__item {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.footer-contact__item:first-child {
  margin-bottom: 9px;
}
.footer-contact__item:last-child {
  padding-bottom: 60px;
}
.footer-contact__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contact__link:hover,
.footer-contact__link:focus {
  color: var(--blue);
}
/* index-main */
.header-main-section {
  background-color: var(--bgcolor);
  padding-bottom: 200px;
  padding-top: 200px;
}
.main-section-header {
  display: flex;
  flex-direction: column;
}
.main-section-header__h1 {
  color: var(--white);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  line-height: 1.4;
  margin-top: 0px;
}
.main-section-header__btn {
  padding: 10px 42px 10px 41px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--blue);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.7;
  cursor: pointer;
}
.work {
  background-color: #e5e5e5;
}
.work-description__list {
  display: flex;
  font-size: 14px;
  color: var(--lightgray);
  letter-spacing: 0.03em;
  list-style: none;
  line-height: 1.7;
  padding-left: 0px;
}
.work-description__item {
  margin-right: 30px;
}
.work-description__item:last-child {
  margin-right: 0px;
}
.work-description__item--bigger {
  color: var(--gray);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 10px;
}
.work-photos {
  background-color: #e5e5e5;
}
.work-h2 {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: var(--gray);
  text-align: center;
  margin-top: 94px;
  margin-bottom: 50px;
  line-height: 1.17;
}
.work-description__photos {
  list-style: none;
  display: flex;
}
.work-description__photos--margin {
  margin-right: 30px;
}
.work-description__photos--margin:last-child {
  margin-right: 0px;
}
.team {
  background-color: #f5f4fa;
}
.team__header {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: var(--gray);
  line-height: 1.17;
  margin-top: 0px;
  margin-bottom: 50px;
}
.team__list {
  list-style: none;
  display: flex;
  padding-left: 0px;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: 0px;
}
.team__item {
  text-align: center;
  margin-right: 30px;
  background-color: var(--white);
  font-size: 16px;
  color: var(--lightgray);
  padding-bottom: 27px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  line-height: 1.17;
}
.team__item:last-child {
  margin-right: 0px;
}
.team__item--header {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--gray);
  line-height: 1.17;
}
/* main-portfolio */
.portfolio {
  background-color: #e5e5e5;
}
.portfolio-nav__list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  margin-bottom: 50px;
}
.portfolio-nav__item--btn-design {
  background-color: #f5f4fa;
  color: var(--gray);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.6;
  border-radius: 4px;
  border: none;
  padding: 6px 22px 6px 22px;
  cursor: pointer;
}
.portfolio-nav__item--btn-design:hover,
.portfolio-nav__item--btn-design:focus {
  background-color: var(--blue);
  color: var(--white);
}
.portfolio-nav__item {
  margin-right: 8px;
}
.portfolio-nav__item:last-child {
  margin-right: 0px;
}
.portfolio__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--lightgray);
  font-size: 14px;
}
.portfolio__item--header {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
  color: var(--gray);
  margin-left: 24px;
  margin-top: 20px;
}
.portfolio__item {
  margin-right: 28px;
  margin-bottom: 50px;
  border: solid #eeeeee 1px;
  background-color: var(--white);
  padding-bottom: 20px;
}
.portfolio__item--description {
  margin-left: 24px;
}
